*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
  }
  body{
    background: rgba(33, 33, 33, 1);
    color:#fff;
  }
  .nav-container{
      display: flex;
      background: rgba(33, 33, 33, 1);
      justify-content: space-between;
      align-items: center;
  }
  
  .logo{
     display: flex;
     align-items: center;
     cursor: pointer;
  }
  .nav-profile img{
      cursor: pointer;
  }
  .nav-search-bar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
  }
  .nav-search-bar input{
      flex:content;
      padding: 10px;
      border: none;
      margin-right: 5px;
      background: rgba(18, 18, 18, 1); 
      color: #fff;
  }
  /* -------------nav end-------------- */
  /* .main-container .left-container{
    border: 2px solid yellow;
  }
 .main-container .right-container{
    border: 2px solid rgb(239, 65, 6);
 }
  .main-container{
    width: 100vw; 
   
     border: 2px solid green;
  } */
/* ------------------ */
/* .left-container div{
  border: 2px solid red;
} */
  .main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .left-container{
    width: 60%;
    margin-top: 20px;
  }
  .right-container{
    width: 25%;
    margin-top: 20px;
  }
  .play-video{
    height: 361px;
  }
  /* .play-video img{
    width: 100%;
  } */
  .video-info .video-name p{
    margin-top: 10px;
    
  }
  .info{
    display: flex;
    justify-content: space-between;
  }
  .views-date{
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 12px;
  }
  .info-tools{
    display: flex;
  }
  .info-tools div{
    display: flex;
    align-items: center;
    width: 80px;
    cursor: pointer;
  }